[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

"discord.py" = {git = "https://github.com/Rapptz/discord.py.git", ref = "rewrite"}
"pynamodb" = "*"


[dev-packages]
